/* head */
.head {
    width: 100%;
    height: 40px;
    border: 1px solid blue;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

/* head_left_title */
.head_left_title {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    letter-spacing: 2px;
}

/* head_right */
.head_right {
    width: 25%;
    height: 35px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* head_right_btns */
.head_right_btns {
    display: flex;
}

/* btnNew */
.btnNew {
    width: 70px;
    height: 30px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
}

/* btnLight */
.btnLight {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #0000001F;
    font-weight: bold;
}

/* btnDark */
.btnDark {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}


/* navbar */
.navbar {
    width: 100%;
    height: 80px;
    border: 1px solid red;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

/* navbar_left */
.navbar_left {
    width: 53%;
    height: 75px;
    border: 1px solid lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* .inpStatus */
.inpStatus {
    width: 220px;
    height: 35px;
    border-radius: 5px;
}

/* inpCity */
.inpCity {
    width: 220px;
    height: 35px;
    border-radius: 5px;
}

/* navbar_right */
.navbar_right {
    width: 30%;
    height: 75px;
    border: 1px solid blue;
    display: flex;
    justify-content: end;
    align-items: center;
}

/* inpSearch */

.inpSearch {
    width: 220px;
    height: 35px;
    border-radius: 5px;
}


/* table */
.table {
    width: 100%;
    border-collapse: collapse;
}

th {
    height: 40px;
    background-color: #F8F9FD;
    text-align: start;
    color: #40464C;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

td {
    height: 40px;
    border-bottom: 1px solid #D5DBE1;
}



/* dialog Add */
.dialogAdd {
    width: 380px;
    height: 450px;
    border: none;
}

/* dialogAdd_title */
.dialogAdd_title {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
}

.dialogAdd_btnx {
    width: 50px;
    height: 50px;
    font-size: 26px;
    background-color: transparent;
    border: none;
}

/* dialogAdd_img */
.dialogAdd_img{
    width: 350px;
    height: 30px;
    border-radius:5px;
    border: 1px solid grey;
}