/* body */
body {
    padding: 10px;
}

/* head */
.head {
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

/* head_left_title */
.head_left_title {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    letter-spacing: 2px;
}

/* head_right */
.head_right {
    width: 25%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* head_right_btns */
.head_right_btns {
    display: flex;
}

/* btnNew */
.btnNew {
    width: 70px;
    height: 30px;
    background-color: #2196F3;
    box-shadow: 0px 0px 2px black;
    color: white;
    border: none;
    border-radius: 5px;
}

/* btnLight */
.btnLight {
    width: 70px;
    height: 30px;
    border: 1px solid gray;
    background-color: #0000001F;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

/* btnDark */
.btnDark {
    width: 70px;
    height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid gray;
    font-weight: bold;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}


/* navbar */
.navbar {
    width: 100%;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
}

/* navbar_left */
.navbar_left {
    width: 51%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* .inpStatus */
.inpStatus {
    width: 220px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid grey;
}

/* inpCity */
.inpCity {
    width: 220px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid grey;
}

/* navbar_right */
.navbar_right {
    width: 30%;
    height: 75px;
    display: flex;
    justify-content: end;
    align-items: center;
}


/* search */
.search {
    width: 40px;
    height: 36px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 2px black;
    margin-left: 5px;
}

/* inpSearch */

.inpSearch {
    width: 220px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid grey;
}


/* table */
.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FBFBFB;
}

thead {
    border-bottom: 1px solid #D5DBE1;
}

/* thead_Name */
.fa-user {
    padding: 8px;
}

.fa-lock {
    padding: 8px;
}

.fa-clock {
    padding: 8px;
}

.fa-arrow-up-long {
    padding: 8px;
}

.fa-tag {
    padding: 8px;
}


th {
    height: 40px;
    background-color: #F8F9FD;
    text-align: start;
    color: #40464C;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

td {
    height: 40px;
    border-bottom: 1px solid #D5DBE1;
}

.divName {
    display: flex;
    align-items: center;
}

/* dialog Add */
.dialogAdd {
    width: 380px;
    height: 460px;
    border: none;
}

/* dialogAdd_title */
.dialogAdd_title {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
}

.dialogAdd_btnx {
    width: 50px;
    height: 50px;
    font-size: 26px;
    background-color: transparent;
    border: none;
}

/* dialogAdd_img */
.dialogAdd_img {
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 10px;
}

/* dialogAdd_name */
.dialogAdd_name {
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 10px;
}

/* dialog_surname */
.dialogAdd_surname {
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 10px;
}

/* dialogAdd_email */
.dialogAdd_email {
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 10px;
}

/* dialogAdd_state */
.dialogAdd_state {
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 10px;
}

/* dialogAdd_city */
.dialogAdd_city {
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 10px;
}

/* dialogAdd_phone */
.dialogAdd_phone {
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
}

/* dialogAdd_footer */
.dialogAdd_footer {
    width: 40%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 10px;
}

/* dialogAdd_save */
.dialogAdd_save {
    width: 70px;
    height: 30px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
}


/* dialogAdd_cancel */
.dialogAdd_cancel {
    width: 70px;
    height: 30px;
    border: 1px solid #2196F3;
    color: #2196F3;
    border-radius: 5px;
    background-color: transparent;
}


/* dialogSetings_main */
.dialogSetings_main {
    position: absolute;
}

/* dialogSetings */
.dialogSetings {
    position: relative;
    left: 1220px;
    width: 160px;
    height: 80px;
    border: none;
    box-shadow: 0px 0px 7px black;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center; */
}



/* dialogSetings_view */
.dialogSetings_view {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    border: none;
    background-color: transparent;
}

/* dialogSetings_edit */
.dialogSetings_edit {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    border: none;
    background-color: transparent;
}

/* dialogSetings_delete */
.dialogSetings_delete {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    border: none;
    background-color: transparent;
}

.ss {
    color: red;
}

/* tdThreedot */
.tdThreedot {
    color: grey;
    font-weight: bolder;
    font-size: 36px;
    cursor: pointer;
}

/* dialogEdit */
.dialogEdit {
    width: 380px;
    height: 460px;
    border: none;
}

/* dialogEdit_title */
.dialogEdit_title {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
}

.dialogEdit_btnx {
    width: 50px;
    height: 50px;
    font-size: 26px;
    background-color: transparent;
    border: none;
}

/* EditImg */
.EditImg {
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 8px;
}

/* EditName */
.EditName {
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 8px;
}

/* EditEmail */
.EditEmail {
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 8px;
}

/* EditCity */
.EditCity {
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 8px;
}

/* EditPhone */
.EditPhone {
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 8px;
}

/* dialogEditbtn */
.dialogEditbtn {
    width: 70px;
    height: 30px;
    background-color: #2196F3;
    border: none;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 2px black;
}

.dialogEditbtnCancel {
    width: 70px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #2196F3;
    color: #2196F3;
    border-radius: 5px;
    box-shadow: 0px 0px 2px black;
    margin-left: 15px;
}

/* dialogInfo */
.dialogInfo {
    width: 450px;
    height: 860px;
    border: none;
    position: relative;
    left: 1030px;
}

/* dialogInfo_main */
.dialogInfo_main {
    position: absolute;
}

/* info_btnx */
.info_btnx {
    width: 50px;
    height: 40px;
    font-size: 26px;
    background-color: transparent;
    border: none;
}

/* dialogInfo_title */
.dialogInfo_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* userInfotxt */
.userInfotxt {
    letter-spacing: 2px;
    font-size: 26px;
}


/* InfoDel */
.InfoDel {
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    font-weight: bolder;
    background-color: transparent;
}

/* InfobtnEdit */
.InfobtnEdit {
    width: 100px;
    height: 40px;
    background-color: #2196F3;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.info_card1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.infoEmail {
    color: grey;
}

/* btnIn */
.btnIn {
    width: 90px;
    height: 35px;
    border: none;
    color: white;
    font-weight: bolder;
    letter-spacing: 1px;
    background-color: #748998;
}



/* info_cards_btns */
.info_cards_btns {
    display: flex;
}
/* InfobtnEdit */
.InfobtnEdit{
    margin-right: 10px;
}

/* divBtn */
.divBtn {
    display: flex;
    align-items: center;

}